@media (min-width: 1200px) and (max-width: 1399px) {
    .header-brand {
        font-weight: 300;
        font-size: 60px;
    }
    .header-bg{
        padding:  0 62px;
    }
    .header-maake-text {
        font-size: 43px;
    }
    .header-img {
        padding: 100px 0 0 30px;

    }
    .brand-heading {
        font-size: 50px;
        /* margin: 30px 30px 50px; */
    }
    .header-brand a {
        font-size: 84px;
    }

    nav li a{
        padding:40px 30px;
    }
    /* section */
    .margin-400{
        margin: 230px 0;
        padding: 0 60px;
    }
    .content-text h1 {
        font-size: 50px;
    }
    .content-text .para {
        font-size: 25px;
        line-height: 40px;
    }
    .content-text a {
        font-size: 25px;
        line-height: 40px;
    }
    .section {
        padding: 0 0 320px 0;
    }
    .header-brand a {
        font-size: 84px;
    }
} 

@media (min-width: 992px) and (max-width: 1199px) {
    .header-brand {
        font-weight: 300;
        font-size: 60px;
    }
    .header-bg{
        padding:  0 62px;
    }
    .header-maake-text {
        font-size: 26px;
    }
    .header-img {
        padding: 100px 0 0 30px;

    }
    .brand-heading {
        font-size: 50px;
        margin: 30px 30px 50px;
    }
    
    nav li a{
        padding:40px 20px;
    }
    /* section */
    .margin-400{
        margin: 170px 0;
        padding: 0 60px;
    }
    .content-text h1 {
        font-size: 50px;
    }
    .content-text .para {
        font-size: 25px;
        line-height: 40px;
    }
    .content-text a {
        font-size: 30px;
        line-height: 40px;
    }
    .section {
        padding: 0 0 300px 0;
    }
    .img{
        width: 10%;
    }
    .header-brand a {
      font-size: 70px;
    }
    /* contact */
    .contact-section{
        width: 800px;
        margin: 0 auto;
    }
    .contact-section input, textarea{
        border-radius: 10px;
        padding: 10px 10px;
        margin-bottom: 20px;
        font-size: 25px;
    }
    .contact-section input::placeholder, textarea::placeholder{
        font-size: 25px;
    }
    
}

@media (min-width: 768px) and (max-width: 991px) {
    .header-bg{
        width: 100px;
        background: rgba(217, 217, 217, 0.3);
        backdrop-filter: blur(12.5px);
        padding:  0 20px;
        height: 944px;
    }
    .header-maake-text{
        margin-bottom: 20px;
        transform: rotate(90deg);
        font-size: 36px;
    }
    /* .header-brand{
        margin-top: 30px;
        font-size: 45px;
    } */
    .header-brand p{
        padding: 0;
        margin: 0;

    }
    .header-img{
        padding: 0;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center ;
    }
    .menu{
        width: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        /* background: rgba(217, 217, 217, 0.3); 
        backdrop-filter: blur(50px); */
    }

    
    .brand-heading{
        font-size: 30px;
        margin: 0;
        padding: 20px 0;
        
    }
    nav li{
        padding:10px 0px;
    }
    nav  p{
        padding:0 ;
        
    }

    /* section */
    .margin-400{
        margin: 150px 0;
        padding: 0 60px;
    }
    .content-text h1 {
        font-size: 40px;
    }
    .content-text .para {
        font-size: 22px;
        line-height: 40px;
    }
    .content-text a {
        font-size: 22px;
    }
    .section {
        padding: 0 0 200px 0;
    }
    .content-text{
        width: 75%;
    }
    .img{
        width: 20%;
    }
    #menu-main{
        width: 100%;
        padding: 20px;
        background: rgba(217, 217, 217); 
        backdrop-filter: blur(50px);
        position: absolute;
        top: 0;
        left: -800px;
        transition: all linear 0.4s;


    }
    .padding-30{
        padding: 0;
    }
    /* revice */
    .header-brand a {
        font-size: 70px;
        margin:  0 0 0 10px;
    }
    /* about */
    .main-text{
        width: 700px;
        padding:0 0 30px;
    }
    .title{
        font-size: 36px;
    }
    .about-para{
    font-size: 19px;
    line-height: 32px;
    
    }
    
    .about-image{
        margin:150px 0 50px 0;
        display: flex;
        justify-content: center;
    }
    .contact-section{
        width: 600px;
        margin: 0 auto;
    }
    .contact-section input, textarea{
        border-radius: 10px;
        padding: 5px 10px;
        margin-bottom: 20px;
        font-size: 20px;
    }
    .contact-section input::placeholder, textarea::placeholder{
        font-size: 20px;
    }
    .login-form{
        width: 600px;
        height: 400px;
        padding: 27px 20px ;
    }
    .login-form p {
        padding-right: 0;
    }
} 

@media (min-width: 576px) and (max-width: 767px) {
    .header-bg{
        width: 100px;
        background: rgba(217, 217, 217, 0.3);
        backdrop-filter: blur(12.5px);
        padding:  0 20px;
        height: 944px;
    }
    .header-maake-text{
        transform: rotate(90deg);
        padding: 0;
        margin: 0;
    }
    .header-brand{
        margin-top: 30px;
        font-size: 45px;
    }
    .header-brand p{
        padding: 0;
        margin: 0;

    }
    .header-img{
        padding: 0;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center ;
    }
    .menu{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        /* background: rgba(217, 217, 217, 0.3); 
        backdrop-filter: blur(50px); */
    }
    /* #menu-main{
        background: rgba(217, 217, 217, 0.3);
        backdrop-filter: blur(50px);
    } */
    .brand-heading{
        font-size: 30px;
        margin: 0;
        padding: 20px 0;
        
    }
    nav li{
        padding:10px 0px;
    }
    nav  p{
        padding:0 ;
        
    }
    /* mmain */

    .content-text h1 {
        font-size: 36px;
    }
    .content-text .para {
        font-size: 18px;
        line-height: 32px;
    }
    .content-text a {
        font-size: 18px;
        line-height: 32px;
    }
    .margin-400 {
        margin: 150px 0 125px 120px;
    }
    .section {
        padding: 0 0 145px 0;
    }
    .content-text{
        width: 100%;
        
    }
    .img{
        width: 120px;
        margin-bottom: 40px;
    }
    #menu-main{
        width: 100%;
        padding: 20px;
        background: rgba(217, 217, 217); 
        backdrop-filter: blur(50px);
        position: absolute;
        top: 0;
        left: -800px;
        transition: all linear 0.4s;


    }
    .padding-30{
        padding: 0;
    }
    /* revision */
    .header-brand a {
        font-size: 70px;
        margin:  0 0 0 10px;
    }
    /* about */
    .main-text{
        width: 500px;
        padding:0 0 30px;
    }
    .title{
        font-size: 36px;
    }
    .about-para{
    font-size: 19px;
    line-height: 32px;
    
    }
    
    .about-image{
        margin:150px 0 50px 0;
        display: flex;
        justify-content: center;
    }
    /* contact */
    .contact-section{
        width: 500px;
        margin: 0 auto;
    }
    .contact-section input, textarea{
        border-radius: 10px;
        padding: 5px 10px;
        margin-bottom: 20px;
        font-size: 20px;
    }
    .contact-section input::placeholder, textarea::placeholder{
        font-size: 20px;
    }
    .login-form{
        width: 500px;
        height: 400px;
        padding: 27px 20px ;
    }
    .login-form p {
        padding-right: 0;
    }

} 


@media (max-width: 575.98px){
    .header-bg{
        width: 100px;
        background: rgba(217, 217, 217, 0.3);
        backdrop-filter: blur(12.5px);
        padding:  0 20px;
        height:944px;
    }
    .header-maake-text{
        transform: rotate(90deg);
    }
    .header-brand{
        margin-top: 30px;
        font-size: 45px;
    }
    .header-brand p{
        padding: 0;
        margin: 0;

    }
    .header-img{
        padding: 0;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center ;
    }
    .menu{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        /* background: rgba(217, 217, 217, 0.3); 
        backdrop-filter: blur(50px); */
    }
    #menu-main{
        width: 100%;
        padding: 20px;
        background: rgba(217, 217, 217); 
        backdrop-filter: blur(50px);
        position: absolute;
        top: 0;
        left: -800px;
        transition: all linear 0.4s;


    }

    .add-clss{
        left: 50%;
        transform: tr;


    }
    .brand-heading{
        font-size: 30px;
        margin: 0;
        padding: 20px 0;
        
    }
    nav li{
        padding:10px 0px;
    }
    nav  p{
        padding:0 ;
        
    }
    /* mmain */

    .content-text h1 {
        font-size: 36px;
    }
    .content-text .para {
        font-size: 18px;
        line-height: 32px;
    }
    .content-text a {
        font-size: 18px;
    }
    .margin-400 {
        margin: 150px 0 125px 100px;
    }
    .section {
        padding: 0 0 125px 0;
    }
    .content-text{
        width: 100%;
        
    }
    .img{
        width: 70px;
        margin-bottom: 40px;
    }
    .padding-30{
        padding: 0;
    }

    /* revice */
    /* headere */
    .header-brand a {
        font-size: 70px;
        margin:  0 0 0 10px;
    }

    /* about html */
    .main-text{
        width: 300px;
        padding:0 0 30px;
    }
    .title{
        font-size: 36px;
    }
    .about-para{
    font-size: 19px;
    line-height: 32px;
    
    }
    
    .about-image{
        margin:150px 0 50px 0;
        display: flex;
        justify-content: center;
    }

    /* contact */
    .contact-section{
        width: 100%;
        margin: 0 auto;
    }
    .contact-section input, textarea{
        border-radius: 10px;
        padding: 5px 10px;
        margin-bottom: 20px;
        font-size: 20px;
    }
    .contact-section input::placeholder, textarea::placeholder{
        font-size: 20px;
    }

    .login-form{
        width: 300px;
        height: 400px;
        padding: 27px 20px ;
    }
    .login-form p {
        padding-right: 0;
    }

    
}