*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
:root{
    --black:#000;
}
a{
    text-decoration: none;
    display: inline-block;
}
nav  li{
    list-style: none;
}

/* ffont family */
.mono{
    font-family: 'Roboto Mono', monospace;
}
.popins{
    font-family: 'Poppins', sans-serif;
}

/* font  weight */
.font-w-300{
    font-weight: 300;
}
/* spaccing */
.padding-100{
    padding: 0 100px;
}
.padding-30{
    padding: 0 30px;
}
.margin-400{
    margin: 400px 0;
}
/* header */
/*  */
/* body bg */
body{
    background: linear-gradient(0deg, rgba(224, 224, 224, 0.2), rgba(224, 224, 224, 0.2)), #FFFFFF;
    color: var(--black);
}

/* 1e1e bg */

.e1e1{
    background:  #1E1E1E;;
}

.index-form-bg{
    background: rgba(55, 55, 55, 0.4);
    backdrop-filter: blur(250px);
}
/* width */
.width-30{
    width: 30%;
}
/*#mb-login form */
#mb-login{
    width: 100%;
    position: absolute;
    top: -400px;
    padding: 30px 20px;
    background: #000000;
    backdrop-filter: blur(250px);
    z-index: 99;
    transition: all linear  0.4s;
    text-align: center;
}
#mb-login.mb-log{
    width: 100%;
    top: 0;
    position: fixed;
}


#mb-login span{
    display: flex;
    justify-content: end;
}
#mb-login a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: #fff;
    padding: 10px 60px;
}
#mb-login h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;
    color: #fff;
    margin: 20px 0;
}

.header-bg{
    width: 100%;
    position: fixed;
    top: 0;
    background: rgba(217, 217, 217, 0.01);
    backdrop-filter: blur(50px);
    height: 100px;
    line-height: 100px;
    z-index: 1;
}
.header-bg-about{
    width: 100%;
    position: fixed;
    top: 0;
    background: rgba(217, 217, 217, 0.01);
    backdrop-filter: blur(50px);
    height: 100px;
    line-height: 130px;
    z-index: 1;
}

.header-brand{
    font-weight: 300;
    font-size: 60px;
}
.header-brand a{
    color: #000;
    margin: 0 21px ;
    font-size: 54px;
}
.header-maake-text {
    color: #000;
    font-size: 30px;
    line-height: 26px;
}


/* nav */
nav{
    width: 100%;
    position: fixed;
    bottom: 0;
    background: rgba(217, 217, 217, 0.01);
    backdrop-filter: blur(50px);
    height: 70px;
    line-height: 70px;
    z-index: 1;
}

/* nav{
    width: 100%;
    background: rgba(217, 217, 217, 0.01);
    backdrop-filter: blur(50px);
    position: fixed;
    bottom: 0;
    height: 70px;
    line-height: 70px;
} */
ul{
    padding: 0;
    cursor: pointer;
    margin-left: 40px;
}
nav li a{
    font-size: 20px;
    padding:0 40px ;
    color:var(--black)
    
}
nav li:hover a{
    color: var(--black);
}

 .brand-heading{
        font-size: 50px;
        margin: 20px 0 0 0;
}
.menu-show{
    width: 50px;
}
.menu span{
    font-size: 25px;
}


.content-text{
    width: 70%;
    
}
.content-text h1{
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 300;
    font-size: 70px;
    line-height: 30px;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.content-text .para{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 60px;
}

.content-text a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 60px;
    color: #000;
}
.img{
    width: 13%;
}

.login-form{
    cursor: pointer;
    position: fixed;
    padding: 27px 43px 76px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 450px;
    z-index: 9;
    
}
.login-form span{
    display: flex;
    justify-content: end;
}
.login-form span i{
    text-align: right;
    font-size: 20px;
    margin-bottom: 35px;
    color: #FFFFFF;
}
.login-form h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;
    color: #FFFFFF;
}
.login-form p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    padding-right: 60px;
    line-height: 30px;
    color: #FFFFFF;
}
 input{
    border-bottom: 1px solid #fff;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
    width: 100%;
}
input::placeholder{
    color: #fff;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
}
form{
    position: relative;
}
.submit-btn{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 5px 12px;
    border: none;
    background: #fff;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    color: #000;
}
.menu-bar{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    z-index: 9;
}
/* about html */
.about-header-img{
    margin: 100px 0;
}
.main-text{
    padding:0 150px 0 200px;
}
.title{
    margin-bottom: 40px;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 300;
    font-size: 70px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}
.about-para{
font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 25px;
line-height: 50px;
color: #000000;

}
.we-make{
    font-weight: 300;
    position: fixed;
    width: 110px;
    left: -10px;
    padding: 20px;
    backdrop-filter: blur(50px);
    font-family: 'Roboto Mono';
    transform: rotate(90deg);
    font-size: 30px;
    line-height: 30px;
    color: #000;
    top: 0px
}
/* .we-make{
    position: fixed;
    width: 100px;
    left: 0;
    top: 0;
    padding: 20px;
    backdrop-filter: blur(50px);
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 30px;
    color: #000000;
    transform: rotate(90deg);
} */
.about-image{
    margin: 200px 0;
    display: flex;
    justify-content: center;
}
.privecy{
    margin: 160px 0;
}
/* contact */
.main-contact-btn{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    padding: 10px 25px ;
    border: none;
    background: #000;
    color: #FFFFFF;
}
a:hover{
    color: #000;
}
/* .bar */

.btn-flex{
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 999;
}
.sprig{
    position: fixed;
    top: 20px;
    right: 20px;
    display: block;
    width: 20px;
    cursor: pointer;
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

.sprig .bar, .sprig::after, .sprig::before{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: rgba(55, 55, 55, 0.4);
    backdrop-filter: blur(50px);
    margin: 6px 0;
    transition: 0.4s;
}

.sprig.is-active::before{
    transform: rotate(-45deg) translate(-7px, 5.5px);
    background: #fff;
}
.sprig.is-active::after{
    transform: rotate(45deg) translate(-5.3px, -5px);
    background: #fff;
}

.sprig.is-active .bar{
    opacity: 0;
}

/* cursor pointer */

.cursor-pointer{
    cursor: pointer;
}

/* brand section cng */
.section-title{
    height: 100vh;
    display: flex;
    align-items: center;
}

.header-img{
    height: 100vh;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-center{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* contact form */
.contact-section {
    width: 100%;
    margin: 0 auto;
}
.title {
    margin-bottom: 15px;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 60px;
    text-transform: uppercase;
    color: #000000;
}

.contact-section input, textarea {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 20px;
    background: rgb(255, 255, 255);
    margin-bottom: 15px;
    font-size: 18px;
}
.contact-section input::placeholder, textarea::placeholder {
    color: #000;
}

.contact-section  textarea{
    width: 100%;
    outline: none;
    height: 155px;
    resize: none;
}

.brand-heading {
    font-size: 50px;
}
.mt-8{
    margin-top: 0.8rem;
}

/* new header */
.header{
    background: rgba(217, 217, 217, 0.3);
    backdrop-filter: blur(50px);
    height: 174px;
}
.logo{
font-family: 'Roboto Mono';
font-style: normal;
font-weight: 300;
font-size: 43.2px;
color: #000000;
}
.menu-top{
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 300;
    font-size: 84.6774px;
    color: #000000;
    text-transform: uppercase;
}
.logo-position{
    position: relative;
    top: 17px;
}
.hr-line{
    height: 2px;
    background: #fff;
}
.ml-70{
    margin-left: 130px;
}
